[submodule "extern/EASTL"]
	path = extern/EASTL
	url = https://github.com/electronicarts/EASTL
[submodule "scratch/extern/EASTL"]
	path = scratch/extern/EASTL
	url = https://github.com/electronicarts/EASTL
[submodule "scratch/extern/box3d"]
	path = scratch/extern/box3d
	url = https://github.com/erincatto/box3d
[submodule "extern/DirectXTK"]
	path = extern/DirectXTK
	url = https://github.com/microsoft/DirectXTK
